body{
    background-image: url("https://static.toiimg.com/thumb/msid-86986189,width-400,resizemode-4/86986189.jpg");
    background-repeat: no-repeat;
     background-size: 100% 100%;
    }
    div{
        width: 300px;height: 300px;
    
    }
    #A{
        object-fit: cover;
        box-shadow: 2px 3px 2px red;
    
    }
    #S{
        object-fit:contain;
        box-shadow: 2px 3px 2px blue;
    }
    #p1{
     color: white;
     font-style: italic;
     font-family: cursive;
     font-weight: 800;
     background-color:blue;
     
    }
    #p2{
        color: white;
        text-decoration:underline ;
        text-shadow: 3px 3px 2px brown; 
        text-align: right;
          
    
    }
    #p3{
        color: white;
        font-style: inherit;
        text-transform:uppercase;
        text-decoration: overline;
    }
    #H{
     background: linear-gradient(orange,green,brown);
     width: 200px;
     height: 250px;
     box-shadow:3px 2px 2px brown;
    }